<ion-nav-bar class="bar-assertive">
	<ion-nav-buttons side="right">
		<a class="button button-icon button-clear ion-refresh" ng-click="listOneBook()"></a>
	</ion-nav-buttons>
</ion-nav-bar>

<ion-view view-title="{{::book.name}}" hide-back-button="true">
	<ion-nav-buttons side="right">
		<a class="button button-icon button-clear ion-refresh" ng-click="listOneBook()"></a>
	</ion-nav-buttons>
	<ion-content>
		<div class="list card">
			<div class="item item-avatar">			
				<!-- <h2>{{tmp}}</h2> 
				<img ng-src="#"> -->
				<h2>{{::book.name}}</h2>
				<p>{{::book.author}}</p>
			</div>
			<div class="item item-body">
				<img class="full-image" ng-src="https://escritoradebolsillo.files.wordpress.com/2015/06/librosss.jpg">
				<p>
					{{::book.description}}
				</p>
				<p class="row">
					<label class="col">
						Disponible para intercambio : <i class="icon ion-checkmark" ng-show="{{book.exchange}}"></i> <i class="icon ion-close-round" ng-hide="{{book.exchange}}"></i>
					</label>
					<label class="col">
						Disponible para compra : <i class="icon ion-checkmark" ng-show="{{book.forSale}}"></i> <i class="icon ion-close-round" ng-hide="{{book.forSale}}"></i>
					</label>
					<label class="col">
						Precio : <label class="subdued">{{::book.price}} $</label>
					</label>
				</p>
				<!--
				<ion-item>
				    <ion-label>Selecciona el libro que deseas ofrecer</ion-label>
				    <ion-select type="text">
				        <ion-option *ngFor="#book of myBooks" value="{{book.id}}">{{book.name}}</ion-option> 
				    </ion-select>
				</ion-item> -->
				
				<form>
					<div class="list">
						<label class="item item-input">Id del libro a intercambiar:
				  		<input type="search" placeholder="  Id del libro (Lo puedes verificar en tu biblioteca) " ng-hide="!isAuthenticated" ng-model="chosenBook">
						</label>
					</div>
				</form>
				<button class="button button-assertive button-block" ng-hide="!isAuthenticated" ng-disabled="!{{book.exchange}}" ng-click="exchangeBook()">
					Intercambiar
				</button>
				
				<button class="button button-assertive button-block" ng-hide="!isAuthenticated" ng-disabled="!{{book.forSale}}" ng-click="buy()">
					Comprar
				</button>
			</div>
		</div>
	</ion-content>
</ion-view>