<ion-nav-bar class="bar-assertive">
	<ion-nav-buttons side="right">
		<a class="button button-icon button-clear ion-refresh" ng-click="showAllBooks()"></a>
	</ion-nav-buttons>
</ion-nav-bar>
<ion-view view-title="Todos los libros" hide-back-button="true">
	<ion-nav-buttons side="right">
		<a class="button button-icon button-clear ion-refresh" ng-click="showAllBooks()"></a>
	</ion-nav-buttons>
	<ion-content>
		<ion-list>
		<form>
			<div class="list">
				<label class="item item-input">
		  		<i class="icon ion-search placeholder-icon"></i>
		  		<input type="search" placeholder="Buscar" ng-model="regexp">
				</label>
			</div>
		</form>
			<div ng-repeat="book in thebooks track by $index" class="row responsive-sm" ng-if="$index % 2 == 0">
				<!-- el tag de abajo es el que al darle click redirecciona a mas informacion del libro -->
				<ion-item class="col-50" ng-repeat="i in [$index, $index + 1]" ng-if="thebooks[i] != null" ng-href="#/app/book/{{::thebooks[i].id}}">
					<div class="item-thumbnail-left">
						<img ng-src="https://escritoradebolsillo.files.wordpress.com/2015/06/librosss.jpg">
						<h2>{{::thebooks[i].name}}</h2>
						<h2>{{::thebooks[i].author}}</h2>
						<p>{{::thebooks[i].description}}</p>
						<p>
						 	<!-- Aqui posiblemente va la calificacion del libro --> 
							<i class="icon ion-star" ng-repeat="i in getNumber(thebooks[i].rating) track by $index"></i>
						</p>
					</div>
				</ion-item>
			</div>	
		</ion-list>
	</ion-content>
</ion-view>