<ion-view view-title="Vender un libro" hide-back-button="true">
	<ion-content>
			
		<ion-header-bar>
			<h1 class="title">Vender un libro</h1>
		</ion-header-bar>
		<ion-content>
			<form>
			<div class="list">
				<label class="item item-input">
					<span class="input-label">Nombre</span>
					<input type="text" placeholder="Nombre" ng-model="namebook">
				</label>
				<label class="item item-input">
					<span class="input-label">Autor</span>
					<input type="text" placeholder="Autor" ng-model="authorbook">
				</label>
				<label class="item item-input">
					<span class="input-label">Descripcion</span>
					<input type="text" placeholder="Descripcion" ng-model="descriptionbook">
				</label>
				<label class="item item-input">
					<span class="input-label">Precio</span>
					<input type="number" placeholder="Sin puntos, comas o simbolos especiales" ng-model="pricebook">
				</label>
				<ion-list>
				  <ion-checkbox ng-model="exchangebook">Intercambio</ion-checkbox>
				  <ion-checkbox ng-model="forSalebook">Venta</ion-checkbox>
				</ion-list>
				<label class="item item-input">
					<span class="input-label">Imagen</span>
					<input type="file" placeholder="opcional" ng-model="picturebook">
				</label>
				<label class="item">
					<button class="button button-block button-assertive" ng-click="saveABook()" ng-disabled="!namebook || !authorbook || !descriptionbook || !pricebook || (!forSalebook && !exchangebook)" type="submit">Vender</button>
				</label>

			</div>
			</form>
		</ion-content>
		
	</ion-content>
</ion-view>